@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/functions" as *;

body {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: $clr-bg-very-dark-blue;
  color: $clr-txt;
  font-family: $primary-font;
  padding: rem(80) rem(20);

  @include breakpoint(small) {
    padding: rem(80) rem(40);
  }
}
